USE [master]
GO
/****** Object:  Database [Nawab]    Script Date: 4/6/2021 10:31:20 PM ******/
CREATE DATABASE [Nawab]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nawab', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Nawab.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nawab_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Nawab_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nawab].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nawab]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 4/6/2021 10:31:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[f_name] [nvarchar](100) NULL,
	[m_name] [nvarchar](100) NULL,
	[l_name] [nvarchar](100) NULL,
	[address] [nvarchar](100) NULL,
	[birthDate] [nvarchar](100) NULL,
	[score] [nvarchar](100) NULL,
	[dep_id] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [f_name], [m_name], [l_name], [address], [birthDate], [score], [dep_id]) VALUES (1, N'Toi', N'La ', N'Ai', N'HCM', N'15-03-2000', N'10', NULL)
INSERT [dbo].[Student] ([Id], [f_name], [m_name], [l_name], [address], [birthDate], [score], [dep_id]) VALUES (4, N'That', N'is not', N'simple', N'simple Ha Noi', N'10-10-2010', N'15', NULL)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
USE [master]
GO
